<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="SavePath" value="E:\Rip\" />
    <add key="ClientId" value="FweeGBOOEOYJWLJN3oEyToGLKhmSz0I7" />
    <add key="AppVersionId" value ="155541024" />
  </appSettings>
</configuration>
